<div class="checkout" id="shipping">
  <h1>Checkout</h1>

  <nav>
    <ul>
      <%= content_tag(:li, link_to("Shopping Cart", cart_path), class: "active") %>
      <li class="active">Shipping Address</li>
      <li>Delivery Options</li>
      <li>Payment Method</li>
      <li>Confirm Order</li>
    </ul>
  </nav>

  <%= render("form") %>
</div>

