<%= render("admin/common/error", model: @location) if @location.errors.present? %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h5>Add New Location</h5>
  </div>

  <div class="panel-body">
    <%= render("form") %>
  </div>
</div>
