<%= render("error") if @item.errors.present? %>

<div class="panel panel-default">
	<div class="panel-heading">
		<%= content_tag(:h5, "Update #{@item.name}") %>
	</div>

	<div class="panel-body">
		<%= render("form") %>
	</div>
</div>
