<div class="section1 trunkit">
  <%= image_tag("home/TheTrunksaleLogo.png", :class => "logo") %>
  <h1 trunksale>Always have what your customer wants</h1>
  <h3 trunksale>Sign up and start selling your inventory today</h3>
  <a href="https://trunkit.typeform.com/to/QBT5cl">
    <div class="startButton">
      Start Selling
    </div>
  </a>
  <div class="videoBackground trunksale">
      <%= image_tag("home/triangle.png", :class => "triangle") %>
  </div>
</div>