<h3>HI <%= @user.first_name %>,</h3>

<p>We’re so excited that you’ve signed up to become a member of Trunkit and we hope you had a great first experience using the site. Your favorite fashion boutiques can now work together to bring you the best customer experience while offering you additional inventory that you’ll love. <%= "In order to sign in again using the same account we need you to create a password by visiting the link below." if @user.provider.blank? %></p>

<%= content_tag(:p, link_to("Change My Password", settings_user_url)) if @user.provider.blank? %>

<p>If you have any questions or need help please contact the Trunkit Team. Our email is <%= mail_to("Team@Trunkit.com") %>.</p>

<p>Thanks for joining and congrats on becoming a Trunkit member!</p>

<p>Sam, Max &amp; the Trunkit Team</p>
