<div class="catalog-notification">
  <%= content_tag(:div, image_tag(notification.owner.photo.url), class: "photo") %>
  <%= content_tag(:span, "#{notification.owner.name} is now following you", class: "message") %>
  <%= notification_time_in_words(notification) %>
</div>
