<div class="catalog-notification">
  <%= content_tag(:div, image_tag(notification.owner.stream_photo.thumb), class: "photo") %>
  <%= content_tag(:span, "#{notification.owner.name} supported #{notification.subject.name}", class: "message") %>
  <%= content_tag(:span, "#{time_ago_in_words(notification.created_at)} ago", class: "timestamp") %>
</div>
