@font-face {
  font: {
    family: "Helvetica Neue";
    weight: 100;
    style:  normal;
  }

  src: asset-url('helveticaneueultralight.eot');
  src: asset-url('helveticaneueultralight.eot?#iefix') format('embedded-opentype'),
       asset-url('helveticaneueultralight.woff') format('woff'),
       asset-url('helveticaneueultralight.ttf') format('truetype'),
       asset-url('helveticaneueultralight.svg#helveticaneueultralight') format('svg');
}

@font-face {
  font: {
    family: ""Bebas Neue"";
    weight: bold;
    style:  normal;
  }

  src: asset-url('"Bebas Neue"-bol-webfont.eot');
  src: asset-url('"Bebas Neue"-bol-webfont.eot?#iefix') format('embedded-opentype'),
       asset-url('"Bebas Neue"-bol-webfont.woff') format('woff'),
       asset-url('"Bebas Neue"-bol-webfont.ttf') format('truetype'),
       asset-url('"Bebas Neue"-bol-webfont.svg#"Bebas Neue"bold') format('svg');
}

@font-face {
  font: {
    family: ""Bebas Neue"";
    weight: lighter;
    style:  normal;
  }

  src: asset-url('"Bebas Neue"-lig-webfont.eot');
  src: asset-url('"Bebas Neue"-lig-webfont.eot?#iefix') format('embedded-opentype'),
       asset-url('"Bebas Neue"-lig-webfont.woff') format('woff'),
       asset-url('"Bebas Neue"-lig-webfont.ttf') format('truetype'),
       asset-url('"Bebas Neue"-lig-webfont.svg#"Bebas Neue"_lightregular') format('svg');
}

@font-face {
  font: {
    family: "Bebas Neue";
    weight: normal;
    style:  normal;
  }

  src: asset-url('bebasneue-webfont.eot');
  src: asset-url('bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
       asset-url('bebasneue-webfont.woff') format('woff'),
       asset-url('bebasneue-webfont.ttf') format('truetype'),
       asset-url('bebasneue-webfont.svg#"Bebas Neue"regular') format('svg');
}
