#delivery-options {
  .service {
    float: left;
    width: 280px;

    label {
      float: left;
      width: 100%;
      margin: 0 0 5px;
      font: 14px "Helvetica LT Std", sans-serif;

      input { margin: 0 5px 0 0; }
    }
  }

  input[type=submit] {
    display: block;
    clear: both;
    width: 160px;
    height: 36px;
    margin: 0 auto;
    font: 16px "Bebas Neue", sans-serif;
    border: 0;
    letter-spacing: 4px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    background: #000;
    border-radius: 0;
  }
}