.security {
  font: 16px/32px "Helvetica LT Std", sans-serif;
}

#payment-method {
  form {
    > div {
      float: left;
      width: 100%;
      padding: 0 0 20px;

      label {
        float: left;
        width: 100px;
        padding: 0 10px 0 0;
        font: 16px/32px "Helvetica LT Std", sans-serif;
        text-align: right;

        &.date {
          width: 100%;
          padding: 0;

          span {
            display: block;
            float: left;
            width: 100px;
            padding: 0 10px 0 0;
          }

          input, select { float: left; }

          select {
            margin: 5px 0 0 10px;
          }
        }
      }

      input[type=text] {
        float: left;
        width: 200px;
        height: 30px;
        padding: 0 5px;
        border: 2px solid #000000;
        background: image-url("checkout/lock.png") no-repeat 190px 5px;
        font: 16px/32px "Helvetica LT Std", sans-serif;

        &.cvc {
          width: 100px;
          background-position: 90px 5px;
        }
      }

      &.number { padding-bottom: 10px; }

      &.type {
        width: auto;
        padding: 0 0 20px 110px;

        div {
          display: block;
          float: left;
          width: 34px;
          height: 22px;
          margin: 0 3px 0 0;
          background-size: cover;

          &.visa       { background-image: image-url("checkout/visa.png"); }
          &.mastercard { background-image: image-url("checkout/mastercard.png"); }
          &.amex       { background-image: image-url("checkout/amex.png"); }
          &.discover   { background-image: image-url("checkout/discover.png"); }
          &.diners     { background-image: image-url("checkout/diners.png"); }
          &.jcb        { background-image: image-url("checkout/jcb.png"); }

          &.gray.visa       { background-image: image-url("checkout/visa-gray.png"); }
          &.gray.mastercard { background-image: image-url("checkout/mastercard-gray.png"); }
          &.gray.amex       { background-image: image-url("checkout/amex-gray.png"); }
          &.gray.discover   { background-image: image-url("checkout/discover-gray.png"); }
          &.gray.diners     { background-image: image-url("checkout/diners-gray.png"); }
          &.gray.jcb        { background-image: image-url("checkout/jcb-gray.png"); }
        }
      }
    }

    input[type=submit] {
      display: block;
      clear: both;
      width: 140px;
      margin: 0 auto;
      padding: 5px 20px;
      font: 16px/20px "Bebas Neue", sans-serif;
      border: 0;
      letter-spacing: 4px;
      text-align: center;
      text-decoration: none;
      color: #FFF;
      background: #000;
    }
  }
}
