#shipping {
  address {
    float: left;
    width: 205px;
    font-style: normal;
    padding-left: 20px;

    &:first-child { padding-left: 0; }

    a:first-child {
      width: 160px;
      padding: 5px 20px;
      border: 2px solid #000000;
      font: 16px/20px "Bebas Neue", sans-serif;
      letter-spacing: 2px;
      text-align: center;
      text-decoration: none;
      color: #000;

      &.inverted {
        background: #000;
        color: #fff;
      }
    }

    span {
      float: left;
      width: 100%;
      margin: 10px 0;
      font: 16px/20px "Helvetica LT Std", sans-serif;
      letter-spacing: 1px;
      color: #000000;
    }

    a {
      float: left;
      margin: 0 10px 0 0;
      font: 16px/20px "Helvetica LT Std", sans-serif;
      letter-spacing: 1px;
      color: rgba(83,83,83,0.50);
    }
  }

  form {
    div {
      float: left;
      width: 345px;
      padding: 0 0 20px;

      label {
        float: left;
        width: 100px;
        padding: 0 10px 0 0px;
        font: 16px/38px "Helvetica LT Std", sans-serif;
        text-align: right;

        &:first-child { padding-left: 0; }
      }

      input[type=text] {
        float: left;
        width: 200px;
        height: 30px;
        padding: 0 5px 5px;
        margin: 0 0  12px;
        font: 16px "Helvetica LT Std", sans-serif;
        border: 2px solid #000000;
      }
    }

    input[type=submit] {
      width: 160px;
      height: 36px;
      margin: 0 80px 0 135px;
      border: 0;
      font: 16px "Bebas Neue", sans-serif;
      letter-spacing: 4px;
      text-align: center;
      background: #000;
      color: #FFFFFF;
      border-radius: 0;
    }
  }
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  #shipping {
    address {
      padding: 0 0 20px 20px;
    }

    form {
      div {
        padding: 0;
        width: 100%;

        label {
          padding: 0 10px 0 0;
          text-align: left;
          font: 16px/24px "Helvetica LT Std", sans-serif;;
        }

        input[type=text] {
          border-radius: 0;
        }
      }
      input[type=submit] {
        height: 36px;
        margin: 5px 0;
      }
    }
  }
}
