<div class="checkout" id="payment-method">
  <h1>Checkout</h1>

  <nav>
    <ul>
      <li class="active">Shopping Cart</li>
      <li class="active">Shipping Address</li>
      <li class="active">Delivery Options</li>
      <li class="active">Payment Method</li>
      <li>Confirm Order</li>
    </ul>
  </nav>
</div>
