<div class="notification error">
  <em>Oh No!</em>
  It looks like you have nothing left in your "STREAM". Click on "SEARCH" to further customize, discover, and add new boutiques to your stream.
</div>

<div id="stream">
  <% @items.each do |item| %>
    <%= render("stream/item", item: item) %>
  <% end %>
</div>

<script>
$(function() { SiteBindings.item.favorite(); });
</script>
