<%= content_tag(:div, class: "notification error") do %>
  <em>Oh No!</em>
  It looks like you have nothing left in your "STREAM". Click on "SEARCH" to further customize, discover, and add new boutiques to your stream.
<% end if @activity_items.blank? %>

<div id="stream">
  <% @activity_items.each do |activity, item| %>
    <%= render("stream/item", activity: activity, item: item) %>
  <% end %>
</div>

<script>
$(function() { SiteBindings.item.favorite(); });
</script>
