<div id="stream">
	<%= render("stream/item") %>

	<% @items.each do |item| %>
		<%= render("stream/item", item: item) %>
	<% end %>
</div>

<script>
$(function() {
	$("a.fancybox").fancybox();
});
</script>
