<div class="item-quantity">
  <% item.sizes.each do |name, quantity| %>
  <div class="row">
    <%= text_field_tag(:name, name, placeholder: "Size") %>
    <%= text_field_tag(:quantity, quantity, placeholder: "Qty") %>
    <a href="#" class="increase">+</a>
    <a href="#" class="decrease">-</a>
  </div>
  <% end %>

  <div class="row">
    <%= text_field_tag(:name, '', placeholder: "Size") %>
    <%= text_field_tag(:quantity, '', placeholder: "Qty") %>
    <a href="#" class="increase">+</a>
    <a href="#" class="decrease">-</a>
  </div>
</div>
