<%= content_tag(:div, class: "notification error") do %>
  <% if params[:supported].to_s =~ /^t/ %>
	  It looks like you haven't curated anything yet. To get started, click on "SEARCH" to search for new items to curate and boutiques to follow.
  <% else %>
	  It looks like you haven't supplied any inventory. Click the button below to start supply your first item.
	  <%= link_to("Supply an Item", new_item_path, class: "button") %>
  <% end %>
<% end if @items.blank? %>

<div id="stream">
  <% @items.each do |item| %>
    <%= render("stream/item", activity: nil, item: item) %>
  <% end %>
</div>

<script>$(function() { SiteBindings.stream.items(); });</script>
