<%= render("admin/common/error", model: @category) if @category.errors.present? %>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= content_tag(:h5, "Edit #{@category.name}") %>
  </div>

  <div class="panel-body">
    <%= render("form") %>
  </div>
</div>
