@import "checkout/shipping_addresses";
@import "checkout/delivery_options";
@import "checkout/payment_methods";
@import "checkout/orders";

.checkout {
  width: 680px;

  > h1 {
    padding: 0;
    margin: 0;
    font: 57px/68px "Helvetica LT Std", sans-serif;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
  }

  > nav > ul {
    width: 500px;
    margin: 0 auto;
    padding: 10px 0 0;
    text-align: center;
    list-style: none;

    li {
      display: inline-block;
      width: 75px;
      padding: 0 0 2px;
      margin: 0 10px;
      font: 16px/20px "Bebas Neue", sans-serif;
      letter-spacing: 2px;
      color: #000;

      &.active { border-bottom: 2px solid #000; }
    }
  }

  > h2 {
    float: left;
    clear: both;
    width: 100%;
    margin: 10px 0 20px;
    padding: 5px 0;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    font: 14px/17px "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    color: #000000;
  }

  .notification {
    float: left;
    width: 600px;
    margin: 0 28px;
  }
}
