form#discover-search {
  
  .search {
    width: 290px;
    height: 36px;
    margin: 0 auto;
    position: relative;


    input[type=search] {
      width: 255px;
      height: 32px;
      padding: 0 25px 0 6px;
      border: 2px solid #000;
      font: 16px "Helvetica LT Std", sans-serif;
      letter-spacing: 0px;
      position: absolute;

      &:focus { outline: none; }
    }

    input[type="image"] {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}

.discover.no-results {
  img { margin: 10px 230px; }
}

#discover-results {
  .help-text {
    font: 16px/22px "Helvetica LT Std", sans-serif;
    letter-spacing: 0px;
  }

  p.help-text { text-align: center; }

  ul.help-text {
    width: 200px;
    margin: 0 auto;
    list-style: none;

    li:before { content: '- '; }
  }
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  form#discover-search {
    text-align: center;

    input[type=search] {
      width: 200px;
      margin: 0 0 0 15px;
      -webkit-appearance: none; 
      -webkit-border-radius:0;
      border-radius:0;
    } 
  }

  .discover.no-results {
    img {
      display: none;
    }
  }
}
