form#discover-search {
  margin: 10px 0;

  input[type=search] {
    width: 295px;
    margin: 0 0 0 320px;
    padding: 0 25px 0 0;
    border: 0;
    border-bottom: 2px solid #000;
    font: 16px "Helvetica LT Std", sans-serif;
    letter-spacing: 0px;

    &:focus { outline: none; }
  }

  input[type="image"] {
    position: relative;
    left: -20px;
  }
}

.discover.no-results {
  img { margin: 10px 230px; }
}

#discover-results {
  .help-text {
    font: 16px/22px "Helvetica LT Std", sans-serif;
    letter-spacing: 0px;
  }

  p.help-text { text-align: center; }

  ul.help-text {
    width: 200px;
    margin: 0 auto;
    list-style: none;

    li:before { content: '- '; }
  }
}
