button.btn.btn-xs.btn-primary {
  display: block;
  width: 366px;
  margin: 4px auto;
  height: 40px;
  font: 16px/37px "Bebas Neue", sans-serif;
  letter-spacing: 6px;
  border: 0;
  color: #fff;
  background: #000;
  text-align: center;
  text-decoration: none;
}

article.item {
  position: relative;
  width: 820px;
  margin: 0 auto;

  .photos {
    float: left;
    width: 288px;
  }

  .info {
    float: right;
    width: 520px;
    font: 14px "Helvetica LT Std", sans-serif;
    letter-spacing: 1px;

    h1 {
      margin: 0;
      padding: 0;
      font: 20px "Bebas Neue", sans-serif;
      letter-spacing: 4px;
    }

    h2 {
      margin: 0 0 9px;
      padding: 2px 0;
      font-size: 16px;
      font-weight: 100;
    }

    > span {
      font: 16px "Bebas Neue", sans-serif;
      letter-spacing: 2px;
      padding: 4px 8px;
      border: 2px solid #000;
    }

    .social {
      padding: 5px 0;

      a { margin: 0 4px 0 0; }
    }

    form {
      select {
        float: left;
        margin: 8px 5px 0 0;
      }

      span.out-of-stock {
        display: block;
        float: left;
        line-height: 36px;
      }

      button, a.out-of-stock {
        float: right;
        margin: 0 0 5px;
        padding: 0 0 0 6px;
        font: 16px/33px "Bebas Neue", sans-serif;
        letter-spacing: 6px;
        border: 0;
        color: #fff;
        background: #000;
        text-decoration: none;
        width: 154px;
      }
    }

    a.button {
      display: block;
      width: 160px;
      height: 40px;
      font: 16px/41px "Bebas Neue", sans-serif;
      letter-spacing: 6px;

      text: {
        align: center;
        transform: uppercase;
        decoration: none;
        indent: 2px;
      }

      background: rgba(0, 0, 0, 0.9);
      color: #fff;

      &:hover {
        background: rgba(0, 0, 0, 1);
      }

      &.unsupport {
        width: 156px;
        height: 36px;
        line-height: 37px;
        border: 2px solid #000;
        background: rgba(255,255,255,.95);
        color: #000;

          &:hover {
            background: rgba(255,255,255,1);
        }
      }
    }

    p { margin: 0; }

    div.description {
      padding: 10px 0 0;

      span { text-transform: uppercase; }
    }
  }

  hr {
    width: 100%;
    height: 2px;
    margin: 6px 0;
    background: #000;
    border: 0;
  }

  .topLine {
      margin: 10px 0 5px 0;
    }
}

div.item-quantity {
  width: 100%;

  .row {
    display: block;
    width: 284px;
    margin: 4px auto 4px;
    height: 32px;

    input {
      float: left;
      width: 48px;
      height: 28px;
      margin: 0 0 0 0px;
      padding: 0 5px;
      border: 2px solid #000;
      font-family: "Helvetica LT Std", sans-serif;

      &#quantity {
        margin-left: -2px;
      }

      &:first-child { width: 136px; }
    }

    a {
      display: block;
      float: left;
      width: 32px;
      height: 32px;
      margin: 0 0 0 5px;
      text-align: center;
      background: #000;
      color: #fff;
      font: 20px/32px "Bebas Neue", sans-serif;
      text-decoration: none;
    }
  }
}

#item form {
  div.hideMobile {
    display: none;
  }

  .aboutItem,
  .sizeQuantity {
    margin: 30px 0 0;
  }

  .trunksaleDiscountSection {
    margin: 30px 0 30px;

    .trunksaleDiscountEntry {
      .pricingResults {
        width: 364px;
        margin: 0 auto;
        font: 14px "Helvetica LT Std", Helvetica, sans-serif;
        letter-spacing: 1px;

        div .displayAmount {
          float: right;
        }
      }
    }
  }

  div.separator {
    float: left;
    width: 100%;
    margin: 0 0 8px;
    padding: 2px 0;
    font: 14px/22px "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    text-indent: 2px;
    border: {
      top: 2px solid #000;
      bottom: 2px solid #000;
    }
    &.photographs {
      border-top: 0px solid;
    }
  }

  div.row {
    display: block;
    margin: 0 auto 8px;
    width: 100%;
    font: 14px/20px "Helvetica LT Std", "Helvetica", sans-serif;
    letter-spacing: 1px;

    .moneyField {
      width: 366px;
      float: none;
      display: block;
      height: 40px;
      margin: 0 auto;

      .dollarBefore {
        width: 20px;
        height: 36px;
        float: left;
        border: 2px solid #000;
        border-right: none;
        line-height: 38px;
        text-align: center;
        font: 16px/38px "Bebas Neue", Helvetica, sans-serif;
        background: #000;
        color: #fff;
        padding-right: 2px; 
      }

      input {
        width: 330px;
        float: left;
        margin: 0 0 0 -2px;
        border-left: none;
      }
    }

    a.increase,
    a.decrease {
      display: none;
    }

    p {
      margin: 0 auto;
      padding: 0 0 7px;
      text-align: center;
      width: 60%;
    }

    label, input, select, textarea {
      display: block;
      margin: 0 auto 8px;
      width: 350px;
      height: 36px;
      border: 2px solid #000;
      font: 15px/18px "Helvetica LT Std", sans-serif;
      letter-spacing: 1px;
      padding: 0 6px;
      border-radius: 0;
      -webkit-appearance: none;
    }

    select {
      width: 366px;
      height: 40px;
      background: url(header/dropdown-arrowed.png) no-repeat right 10px center;
      background-size: 17px 12px;
      color: #999;
      cursor: pointer;
    }

    label { 
      text-align: right; 
    }

    textarea {
      height: 50px;
      padding: 6px 6px 0px;
    }

    &.secondary-category {

      select {
        color: #000;
      }
    }

    &.brand-add {
      display: none;
    }


    &.photo {
      height: 128px;
      border-bottom: 2px solid #000;
      text-align: center;

      #item-photos, 
      .button {
        text-align: left;
        display: inline-block;
        position: relative;
        float: none;
      }

      .button {
        margin: 0 0 0 -4px;
      }

      div.item-photo {
        position: relative;
        float: left;
        margin: 0 8px 0 0;
        width: 80px;
        height: 80px;
        border: 2px solid #000;

        a.delete {
          display: none;
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;
          color: #fff;
          background: #000;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
        }

        a.fancybox {
          width: 80px;
          height: 80px;
          display: block;
          overflow: hidden;

          img {
            min-width: 100%;
            min-height: 100%;
          }
        }

        &:hover a.delete { 
          display: block; 
          font: 14px/26px "Bebas Neue", sans-serif;
          letter-spacing: 2px;
          bottom: 0px;
          height: 26px;
          width: 80px;
          color: #000;
          background: #fff;
          border-top: 2px solid #000;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
        }
      }

      .button {
        span {
          display: block;
          float: left;
          width: 80px;
          height: 60px;
          padding: 20px 0 0;
          border: 2px solid #000;
          text-align: center;
          text-transform: uppercase;
          cursor: pointer;
          font-family: "Bebas Neue", sans-serif;
          letter-spacing: 2px;
        }

        input { display: none; }
      }
    }

    > div {
      float: left;

      &.col-2 {
        width: 50%;

        label {
          width: 32.5%;
          padding: 0 2.5% 0 0;
        }

        input[type="text"], 
        textarea, 
        select { 
          width: 60%;
          border: solid 2px #000;
          border-radius: 0; 
        }

        &.brand-add {
          display: none;

          input[type="text"] { width: 40%; }

          span { margin: 0 0 0 5px; }
        }
      }

      &.col-4 {
        width: 25%;

        label {
          width: 47.5%;
          padding: 0 2.5% 0 0;
        }

        input[type="text"], textarea, select { width: 40%; }
      }
    }
  }

  hr {
    width: 100%;
    height: 2px;
    line-height: 2px;
    margin: 10px 0 0;
    padding: 0;
    border: 0;
    background: #000;
  }

  div.item-quantity {
    width: 100%;

    div.row {
      width: 365px;
      height: 40px;
      float: none;

      #name {
        width: 262px;
        margin: 0;
      }

      #quantity {
        width: 73px;
        margin: 0 0 8px -2px;
      }
    }
  }

  .finishForm,
  .nextStep {
    display: block;

    input[type="submit"],
    a.remove,
    div#updateItem {
      display: block;
      float: none;
      clear: both;
      width: 200px;
      margin: 10px auto;
      height: 40px;
      font: 16px/42px "Bebas Neue", sans-serif;
      letter-spacing: 6px;
      border: 0;
      color: #fff;
      background: #000;
      text-align: center;
      text-decoration: none;
      padding: 0 !important;
      cursor: pointer;
      -webkit-transition: background-color .2s ease-in-out;
      -moz-transition: background-color .2s ease-in-out;
      -o-transition: background-color .2s ease-in-out;
      transition: background-color .2s ease-in-out;
      
      &:hover {
        background: #fff;
        color: #000;
        border: 2px solid #000;
        line-height: 38px;
      }
    }

    input[type="submit"]:hover {
      height: 40px;
      width: 200px;
    }

    a.remove:hover,
    div#updateItem:hover {
        height: 36px;
        width: 196px;
    }

    

    a.remove { padding: 0; }

    .steps {
      text-align: center;
      font: 15px "Bebas Neue", helvetica, sans-serif;
      letter-spacing: 3px;
      color: #aaa;
    }
  }
}

.finishForm {
  display: block;

  a.remove,
  div#updateItem {
    display: block;
    float: none;
    clear: both;
    width: 200px;
    margin: 10px auto;
    height: 40px;
    font: 16px/42px "Bebas Neue", sans-serif;
    letter-spacing: 6px;
    border: 0;
    color: #fff;
    background: #000;
    text-align: center;
    text-decoration: none;
    padding: 0 !important;
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;

    &:hover {
      cursor: pointer;
      background: #fff;
      color: #000;
      border: 2px solid #000;
      height: 36px;
      width: 196px;
      line-height: 38px;
    }
  }

  a.remove { padding: 0; }
}

#declined-boutiques {
  width: 906px;

  h1 {
    width: 100%;
    margin: 0 0 20px;
    font: 57px/68px "Helvetica LT Std", sans-serif;
    letter-spacing: 4px;
    color: #000;
    text-align: center;
  }
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  article.item {
    width: 250px;

    .photos {
      width: 250px;
      float: none;

      img {
        max-width: 250px;
      }
    }

    .info {
      width: 250px;
      float: none;

      h1 {
        font: 18px "Bebas Neue", sans-serif;
      }

      h2 {
        font: 15px "Helvetica LT Std", sans-serif;
      }

      div.cart form {
        select {
          margin: 4px 5px 0 0;
        }

        button {
          width: 160px;
          height: 40px;
          float: left;
          margin: 8px 0 8px;
        }
      }
    }
  }

  #item form {
    input[type="submit"] {
      border-radius: 0;
    }

    div.row {   
      label {
        text-align: left;
      }

      select {
        width: 300px;
      }

      input,
      textarea,
      p {
        border-radius: 0;
        width: 284px;
      }

      > div {
        float: none;
      }

      > div.col-2 {
        width: 96%;
        margin: 4px auto;

        label {
          width: 50%;
        }

        input[type="text"],
        textarea,
        select
        {
          border-radius: 0;
          padding: 5px;
        }
      }
    }

    div.item-quantity {
      div.row {
        width: 284px;

        #name {
          width: 190px;
        }

        #quantity {
          width: 64px;
        }
        input {
          border-radius: 0;
        }
      }
    }
  }

  #declined-boutiques {
    width: 100%;

    h1 {
      font: 40px/50px "Helvetica LT Std", sans-serif;
    }
  }

  button.btn.btn-xs.btn-primary {
    width: 300px;
    height: 40px;
  }
}
