html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #eee;

  > header {
    position: relative;
    z-index: 5;
    float: left;
    width: 100%;
    height: 40px;
    background: #fff;

    > .content {
      width: 980px;
      height: 40px;
      margin: 0 auto 0 auto;

      a.tagline {
        float: left;
        font: 28px/40px HelveticaNeue-UltraLight, sans-serif;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
      }

      nav {
        float: left;
        margin: 0 0 0 180px;
        font: 17px bebas_neue, sans-serif;
        letter-spacing: 3px;
        text-transform: uppercase;

        > ul {
          margin: 0;
          padding: 0;

          > li {
            float: left;
            padding: 0 20px;
            list-style: none;

            > ul, > span { display: none; }

            > a {
              display: block;
              float: left;
              height: 20px;
              padding: 10px 0 ;
              text-decoration: none;
              color: #000;
            }

            &.active > a, &:hover > a {
              padding: 10px 0 6px;
              border-bottom: 4px solid #00B3FF;
            }

            &:hover {
              > span {
                position: absolute;
                z-index: 5;
                top: 40px;
                left: 0;
                display: block;
                width: 100%;
                height: 40px;
                background: #B8B8B8;
              }

              > ul {
                display: block;
                position: absolute;
                z-index: 5;
                top: 40px;
                left: 50%;
                width: 980px;
                padding: 0;
                margin: 0 0 0 -490px;
                text-align: center;

                li {
                  display: inline;
                  list-style: none;
                  margin: 0 15px;
                  line-height: 40px;
                  font-size: 16px;

                  a {
                    color: #fff;
                    text-decoration: none;
                  }

                  &.following {
                    position: absolute;
                    right: 0;
                    top: 0;

                    a { color: #000; }
                  }
                }
              }
            }
          }
        }
      }

      .right {
        float: right;

        .cart {
          position: relative;
          float: left;
          width: 23px;
          height: 16px;
          padding: 12px;
          background: image-url("layout/cart.png") no-repeat 12px 12px;

          > span {
            position: absolute;
            top: 7px;
            left: 15px;
            width: 20px;
            font: bold 12px/12px lato, sans-serif;
            text-align: center;
          }

          > div.dropdown {
            display: none;
            position: absolute;
            z-index: 2;
            top: 40px;
            right: 0;
            width: 250px;
            padding: 5px 5px 27px;
            font: 12px/14px lato, sans-serif;
            background: #FAF8F8;

            table {
              width: 100%;

              th {
                padding: 0 0 3px;
                border-bottom: 1px solid #ccc;
                font-weight: normal;
                text-align: left;

                &:last-child { text-align: right; }
              }

              tbody td {
                padding: 5px 0 0 3px;

                &:first-child { padding-left: 0; }

                img {
                  max-width: 38px;
                  max-height: 38px;
                  border: 1px solid #ccc;
                }
              }

              tfoot td {
                padding: 3px 0 0;
                border-top: 1px solid #ccc;
              }
            }

            > a {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 22px;
              font: 16px/22px bebas_neue, sans-serif;
              letter-spacing: 2px;
              letter-spacing: 1px;
              text-transform: uppercase;
              text-decoration: none;
              text-align: center;
              background: #000;
              color: #fff;
            }
          }

          &:hover {
            background: #FAF8F8 image-url("layout/cart.png") no-repeat 12px 12px;
            > div.dropdown { display: block; }
          }
        }

        .user {
          position: relative;
          float: left;
          height: 25px;
          margin: 0 0 0 15px;
          padding: 7px 7px 8px;

          img { vertical-align: middle; }

          > span {
            margin: 0 5px;
            font-family: bebas_neue, sans-serif;
            letter-spacing: 2px;
          }

          ul {
            display: none;
            position: absolute;
            z-index: 2;
            top: 40px;
            right: 0;
            width: 130px;
            padding: 0;
            margin: 0;
            list-style: none;
            background: #FAF8F8;

            li {
              float: left;
              width: 100%;

              a {
                display: block;
                float: left;
                width: 120px;
                padding: 5px;
                font: bold 12px/14px lato, sans-serif;
                color: #000;
                text-decoration: none;

                &:hover {
                  color: #fff;
                  background: #B8B8B8;
                }
              }
            }
          }

          &:hover {
            background: #FAF8F8;
            ul { display: block; }
          }
        }
      }
    }
  }

  #container {
    width: 980px;
    margin: 0 auto;
  }
}
