.catalog-notification {
  display: block;
  width: 776px;
  height: 46px;
  margin: 0 auto 10px;
  border: 2px solid #000;
  text-decoration: none;
  color: #000;

  div.photo {
    float: left;
    height: 46px;
    margin: 0 10px 0 0;
    border-right: 2px solid #000;

    img {
      width: 46px;
      height: 46px;
    }
  }

  span {
    font: 16px/46px "Bebas Neue", sans-serif;
    letter-spacing: 4px;

    &.message {
      overflow: hidden;
      float: left;
      width: 590px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &.timestamp {
      float: right;
      height: 46px;
      padding: 0 10px;
      color: #9B9B9B;
    }
  }
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .catalog-notification {
    width: 96%;

    span {
      font: 14px "Helvetica LT Std", sans-serif;
      letter-spacing: 1px;
      margin: 4px;
      height: 38px;

      &.message {
        width: 65%;
        height: 38px;
        white-space: normal;
      }
    }

    div.photo {
      display: none;
    }
  }
}
