.orders {
  header {
    span {
      display: block;
      float: right;
      width: 47.5%;
      padding: 7px;
      border: 2px solid #000;
      font: 16px "Bebas Neue", sans-serif;
      letter-spacing: 6px;
      text-align: center;

      &:first-child { float: left; }
    }
  }

  div.order {
    float: left;
    width: 100%;
    margin: 10px 0 0;

    > span.name,
    > span.header {
      display: block;
      float: left;
      width: 100%;
      margin: 0 0 10px;
      padding: 2px 0;
      font: 14px/18px "Bebas Neue", sans-serif;
      letter-spacing: 2px;
      text-indent: 2px;

      border: {
        top: 2px solid #000;
        bottom: 2px solid #000;
      }
    }

    address {
      float: left;
      width: 100%;
      margin: 10px 0 20px;
      font: 16px/20px "Helvetica LT Std", sans-serif;
      letter-spacing: 1px;
    }

    section.item {
      float: left;

      > img {
        float: left;
        padding: 0 10px 0 0;
      }

      > div {
        float: left;
        width: 228px;

        &.cart-item-complete { display: none; }

        span {
          font: 18px "Helvetica LT Std", sans-serif;
          letter-spacing: 1px;
        }

        ul {
          padding: 0;
          font: 14px "Helvetica LT Std", sans-serif;
          letter-spacing: 1px;
          list-style: none;
        }
      }

      > a {
        float: left;
        clear: both;
        width: 150px;
        font: 14px/31px "Bebas Neue", sans-serif;
        letter-spacing: 4px;
        color: #fff;
        background: #000;
        text-decoration: none;
        text-align: center;

        &.disabled {
          background: #999;
          cursor: not-allowed;
        }

        &.shipping-label {
          width: 146px;
          line-height: 27px;
          border: 2px solid #000;
          background: #fff;
          color: #000;
        }
      }
    }
  }
}

.cart-item-complete {
  h3 {
    padding: 0;
    margin: 0;
    font: 18px "Bebas Neue", sans-serif;
    letter-spacing: 6px;
    color: #000;
    text-align: center;
  }

  p {
    width: 400px;
    font: 14px "Helvetica LT Std", sans-serif;
    text-align: center;
    letter-spacing: 1px;
  }

  a {
    display: block;
    width: 250px;
    height: 36px;
    margin: 10px 75px;
    background: #000;
    font: 16px/36px "Bebas Neue", sans-serif;
    letter-spacing: 4px;
    text-decoration: none;
    color: #fff;
    text-align: center;
  }
}

.order-item-cancellation {
  h3 {
    padding: 0 0 10px;
    margin: 0;
    font: 18px "Bebas Neue", sans-serif;
    letter-spacing: 6px;
    color: #000;
    text-align: center;
  }

  label {
    float: left;
    width: 105px;
    padding: 0 10px;
    font: 16px "Helvetica LT Std", sans-serif;
    letter-spacing: 1px;
    text-align: right;
  }

  textarea {
    float: left;
    width: 302px;
    height: 84px;
    border: 2px solid #000;
  }

  p {
    clear: both;
    width: 302px;
    padding: 10px 0 10px 125px;
    font: 14px "Helvetica LT Std", sans-serif;
    letter-spacing: 1px;

    a {
      font: 14px "Bebas Neue", sans-serif;
      text-decoration: none;
      color: #000;
    }
  }

  input[type="submit"] {
    width: 160px;
    height: 36px;
    margin: 0 137px;
    font: 16px/36px "Bebas Neue", sans-serif;
    letter-spacing: 4px;
    background: #000;
    color: #fff;
    border: 0;
  }
}
