.orders {
  header {
    span {
      display: block;
      float: right;
      width: 47.5%;
      padding: 7px;
      border: 2px solid #000;
      font: 16px "Bebas Neue", sans-serif;
      letter-spacing: 6px;
      text-align: center;

      &:first-child { float: left; }

      &.full-width {
        width: 902px;
        padding-left: 0;
        padding-right: 0;

      }
    }
  }

  div.order {
    float: left;
    width: 100%;
    margin: 10px 0 0;

    > span.name,
    > span.header {
      display: block;
      float: left;
      width: 100%;
      margin: 0 0 10px;
      padding: 2px 0;
      font: 14px/18px "Bebas Neue", sans-serif;
      letter-spacing: 2px;
      text-indent: 2px;

      border: {
        top: 2px solid #000;
        bottom: 2px solid #000;
      }
    }

    address {
      float: left;
      width: 100%;
      margin: 10px 0 20px;
      font: 16px/20px "Helvetica LT Std", sans-serif;
      letter-spacing: 1px;
    }

    section.item {
      float: left;

      > img {
        float: left;
        padding: 0 10px 0 0;
      }

      > div {
        float: left;
        width: 228px;

        &.cart-item-complete { display: none; }

        span {
          font: 18px "Helvetica LT Std", sans-serif;
          letter-spacing: 1px;
        }

        ul {
          padding: 0;
          font: 14px "Helvetica LT Std", sans-serif;
          letter-spacing: 1px;
          list-style: none;
        }
      }

      > a {
        float: left;
        clear: both;
        width: 150px;
        font: 14px/31px "Bebas Neue", sans-serif;
        letter-spacing: 4px;
        color: #fff;
        background: #000;
        text-decoration: none;
        text-align: center;

        &.disabled {
          background: #999;
          cursor: not-allowed;
        }

        &.shipping-label {
          width: 146px;
          line-height: 27px;
          border: 2px solid #000;
          background: #fff;
          color: #000;
        }
      }
    }
  }
}

.cart-item-complete {
  h3 {
    padding: 0;
    margin: 0;
    font: 18px "Bebas Neue", sans-serif;
    letter-spacing: 6px;
    color: #000;
    text-align: center;
  }

  p {
    width: 400px;
    font: 14px "Helvetica LT Std", sans-serif;
    text-align: center;
    letter-spacing: 1px;
  }

  a {
    display: block;
    width: 250px;
    height: 36px;
    margin: 10px 75px;
    background: #000;
    font: 16px/36px "Bebas Neue", sans-serif;
    letter-spacing: 4px;
    text-decoration: none;
    color: #fff;
    text-align: center;
  }
}

.order-item-cancellation {
  h3 {
    padding: 0 0 10px;
    margin: 0;
    font: 18px "Bebas Neue", sans-serif;
    letter-spacing: 6px;
    color: #000;
    text-align: center;
  }

  label {
    float: left;
    width: 105px;
    padding: 0 10px;
    font: 16px "Helvetica LT Std", sans-serif;
    letter-spacing: 1px;
    text-align: right;
  }

  textarea {
    float: left;
    width: 302px;
    height: 84px;
    border: 2px solid #000;
  }

  p {
    clear: both;
    width: 302px;
    padding: 10px 0 10px 125px;
    font: 14px "Helvetica LT Std", sans-serif;
    letter-spacing: 1px;

    a {
      font: 14px "Bebas Neue", sans-serif;
      text-decoration: none;
      color: #000;
    }
  }

  input[type="submit"] {
    width: 160px;
    height: 36px;
    margin: 0 137px;
    font: 16px/36px "Bebas Neue", sans-serif;
    letter-spacing: 4px;
    background: #000;
    color: #fff;
    border: 0;
  }
}

.ordersTable {
  width: 100%; 
  thead {
    tr {
      height: 40px;
      border-bottom: 2px solid #000;

      th {
        font: 16px "Bebas Neue", Helvetica, sans-serif;
        letter-spacing: 3px;
        text-align: left;
      }
    }
  }
  tbody {
    font: 15px "Helvetica LT Std", Helvetica, sans-serif;
    letter-spacing: 1px;

    tr {
      height: 45px;
      border-bottom: 2px solid #000;

      td a {
        background: #000;
        color: #fff;
        font: 14px/30px "Bebas Neue", Helvetica, sans-serif;
        letter-spacing: 3px;
        text-decoration: none;
        height: 30px;
        width: 160px;
        display: block;
        text-align: center;
        -webkit-transition: background-color .2s ease-in-out;
        -moz-transition: background-color .2s ease-in-out;
        -o-transition: background-color .2s ease-in-out;
        transition: background-color .2s ease-in-out;

        &:hover {
          background: #fff;
          color: #000;
          height: 26px;
          width: 156px;
          border: 2px solid #000;
          line-height: 26px;
        }
      }
    }
  }
}

.customerOrder {
  font: 16px "Bebas Neue", Helvetica, sans-serif;
  text-align: center;
  letter-spacing: 3px;
  width: 450px;
  margin: 0 auto;
  border: 2px solid #000;
  padding: 30px 0;

  .orderInfo {
    div{
      &:first-child {
        font-size: 24px;
        letter-spacing: 4px;
      }

      &:nth-child(2) {
        font: 14px "Helvetica LT Std", Helvetica, sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      a {
        margin: 20px auto 40px;
        background: #CC0019;
        color: #fff;
        font: 15px/42px "Bebas Neue", Helvetica, sans-serif;
        letter-spacing: 5px;
        text-decoration: none;
        height: 40px;
        width: 220px;
        padding: 0 0 0 6px;
        display: block;
        -webkit-transition: background-color .2s ease-in-out;
        -moz-transition: background-color .2s ease-in-out;
        -o-transition: background-color .2s ease-in-out;
        transition: background-color .2s ease-in-out;

        &:hover {
          background: #fff;
          color: #000;
          height: 36px;
          width: 216px;
          border: 2px solid #000;
          line-height: 38px;
        }
      }
    }
  }

  form {
    border-top: 2px solid #000;
    padding: 20px 0 0;

    div {
      select {
        margin: 10px 0;
        width: 300px;
        height: 40px;
        background: url(header/dropdown-arrowed.png) no-repeat right 10px center;
        background-size: 17px 12px;
        color: #999;
        cursor: pointer;
        -webkit-appearance: none;
        border-radius: 0;
        border: 2px solid #000;
        padding: 0 6px;
        color: #999;
        font: 15px/18px "Helvetica LT Std", sans-serif;
        letter-spacing: 1px;
      }

      input {
        margin: 0px auto 5px;
        background: #000;
        color: #fff;
        font: 15px/42px "Bebas Neue", Helvetica, sans-serif;
        letter-spacing: 5px;
        text-decoration: none;
        height: 40px;
        width: 220px;
        padding: 0 0 0 6px;
        display: block;
        -webkit-transition: background-color .2s ease-in-out;
        -moz-transition: background-color .2s ease-in-out;
        -o-transition: background-color .2s ease-in-out;
        transition: background-color .2s ease-in-out;
        -webkit-appearance: none;
        border: none;

        &:hover {
          background: #fff;
          color: #000;
          border: 2px solid #000;
          line-height: 38px;
        }
      }
    }
  }
}

