div#profile {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  padding: 70px 0;

> .storeprofile {
    float: left;
    width: 906px;
    height: 300px;
    padding: 0px 0px 0px 0px;
    min-height: 300px;
    margin: 1px;
    background: #fff;
    text-align: center;

    > div {
      position: relative;

      .img {
        max-width: 906px;
        max-height: 300px;
        overflow: hidden;
      }
      
      > div.binfo {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 300px;
        background: rgba(12,12,12,0.60);

          span.bname {
          position: absolute;
          top: 10px;
          left: 0px;
          width: 906px;
          font: 30px/35px bebas_neue, sans-serif;
          letter-spacing: 10px;
          color: #fff;
          text-transform: uppercase;
          text-align: center;
          } 
          div.contact {
          position: absolute;
          text-align: center;
          left: 0;
          padding: 50px 0px 0px 0px;
          font: 16px/20px lato, sans-serif;
          font-weight: 100;
          word-spacing: 2px;
          width: 906px;
          font-style: normal;
          color: #fff;
          }
        }
          p {
          position: absolute;
          top: 90px;
          left: 53px;
          width: 800px;
          height: 30px;
          font: 18px/20px lato, sans-serif;
          font-weight: 200;
          letter-spacing: 0px;
          text-align: center;
          color: #fff;
          }
        
        a.unfollow {
          display: block;
          position: absolute;
          top: 180px;
          left: 373px;
          width: 160px;
          height: 34px;
          font: 16px/27px bebas_neue, sans-serif;
          letter-spacing: 6px;
          text-transform: uppercase;
          text-decoration: none;
          background: rgba(0,0,0,0.7);
          color: #fff;
          padding-top: 7px;

          &:hover {
                  color: #fff;
                  background: rgba(0,0,0,0.4);
                }
        }
      
        div.bottom {
          position: absolute;
          bottom: 10px;
          width: 906px;
          font: 12px/14px lato, sans-serif;
            
            a.website {
            overflow: hidden;
            position: absolute;
            left: 388px;
            bottom: 0;
            width: 130px;
            text-align: center;
            text-overflow: ellipsis;
            text-decoration: none;
            color: #fff;
          }
          div.social {
            position: absolute;
            bottom: 20px;
            left: 380px;
            width: 140px;
            text-align: center;
            color: #fff;
            a {
              float: left;
              width: 33.3%;
              text-align: center;
            }              
          }
        }
      }
    }
  > .item {
    float: left;
    width: 300px;
    height: 300px;
    padding: 0px 0px 0px 0px;
    min-height: 100px;
    margin: 1px;
    background: #fff;
    text-align: center;


    > div {
      position: relative;

      .img {
        max-width: 300px;
        max-height: 300px;
        overflow: hidden;
      }
      > div.info {
      display: table-row;
      position: absolute;
      bottom: 0;
      left: 0;
      float: left;
      height: 58px;
      width: 100%;
      background: rgba(12,12,12,0.70);

      span.store {
        overflow: hidden;
        display: table-cell;
        width: 215px;
        word-wrap: break-word;
        font: 18px lato, sans-serif;
        font-weight: 100;
        vertical-align: middle;
        text-align: left;
        text-overflow: ellipsis;
        text-transform: uppercase;
        color: #fff;
        padding-top: 6px;
        padding-left: 10px;
      }

      span.city {
        display: table-cell;
        width: 70px;
        padding: 0 20 0 0px;
        text-align: right;
        font:  40px lato, sans-serif;
        font-weight: 100;
        text-transform: uppercase;
        color: #B0B0B0;
        padding-top: 4px
      }
    }
      > div.details {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 242px;
        background: rgba(12,12,12,0.70);

        span.price {
          position: absolute;
          top: 10px;
          left: 10px;
          font: 18px lato, sans-serif;
          font-weight: 100;
          color: #fff;
        }

        a.star {
          position: absolute;
          top: 10px;
          right: 10px;
        }

        p.name {
          position: absolute;
          top: 30px;
          left: 0px;
          width: 300px;
          font: 15px/15px lato, sans-serif;
          font-weight: 100;
          letter-spacing: 0px;
          text-align: center;

          a {
            font: 15px/20px lato, sans-serif;
            font-weight: 200;
            letter-spacing: 0px;
            text-decoration: none;
            color: #fff;

            &.item-name {
              font: 18px/30px bebas_neue, sans-serif;
              letter-spacing: 6px;
              text-transform: uppercase;
            }
            &:hover {
                  text-decoration: underline;;
                }
          }
        }

        a.buy {
          display: block;
          position: absolute;
          top: 130px;
          left: 67px;
          width: 160px;
          height: 34px;
          font: 16px/27px bebas_neue, sans-serif;
          letter-spacing: 6px;
          text-transform: uppercase;
          text-decoration: none;
          background: rgba(0,0,0,0.7);
          color: #fff;
          padding-top: 7px;

          &:hover {
                  color: #fff;
                  background: rgba(0,0,0,0.4);
                }
        }

        div.social {
          position: absolute;
          bottom: 30px;
          left: 75px;
          width: 140px;
          text-align: center;
          color: #fff;
          a {

            float: left;
            width: 33.3%;
            text-align: center;
          }
        }
      }
      &:hover > div.details { display: block; }
    }
  }
}