html {
  background: none;
}

.spaceLine {
      float: right;
      margin: 26px;
    }

body.public {
  header {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    color: #000;
    z-index: 10000;
    position: fixed;
    top: 0;

    a.login { 
      float: right; 
    }
    
    a.boutiqueSite {
      float: right;
    }

    .content {
      margin: 0 auto;

      div {
        a {
          color: #000;
        }
      }
    }
  }

  #container {
    width: 100%;
    padding: 0;

    #content {
      .section1 {
        background: rgba(0, 0, 0, 0);
        height: 100%;

        h1 {
          font: 45px/45px "Bebas Neue", helvetica, sans-serif;
          letter-spacing: 4px;
          text-align: center;
          padding: 300px 0 15px;
          margin: -70px auto 0;
          z-index: 2;
          color: #fff;
        }

        h3 {
          margin: 0 auto 0;
          text-align: center;
          color: #fff;
          font: 22px "helvetica LT Std", helvetica, sans-serif;
        }

        a {
          text-decoration: none;

          .startButton {
            margin: 22px auto 0;
            width: 200px;
            height: 40px;
            color: #fff;
            background: #cc0019;
            font: 16px/42px "Bebas Neue", helvetica, sans-serif;
            letter-spacing: 3px;
            text-align: center;
            -webkit-transition: background-color .2s ease-in-out;
            -moz-transition: background-color .2s ease-in-out;
            -o-transition: background-color .2s ease-in-out;
            transition: background-color .2s ease-in-out;

            &:hover {
              background: #A60014;
            }
          }
        }

        .videoBackground {
          width: 100%;
          height: 100%;
          position: absolute !important;
          top: 0;
          z-index: -1;
          background: url(home/boutique.jpg) no-repeat center center fixed; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;

          .backImage {
            width: 100%;
            height: 100%;
          }

          .triangle {
            width: 70px;
            position: absolute;
            bottom: 0;
            margin: 0 auto;
            left: 0;
            right: 0;
          }
        }
      }

      .belowFold {
        position: absolute;
        top: 100%;
      }

      h2 {
        font: 30px "Bebas Neue", helvetica, sans-serif;
        letter-spacing: 3px;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        color: #000;
        height: 140px;
        padding: 78px 0 0;
      }
      .section2 {
        .theServices {
          width: 100%;
          margin: 0 auto 0;
          height: 500px;

          a {
            color: #000;

            div {
              width: 50%;
              height: 500px;
              display: inline-block;
              position: relative;
              -webkit-transition: background-color .2s ease-in-out;
              -moz-transition: background-color .2s ease-in-out;
              -o-transition: background-color .2s ease-in-out;
              transition: background-color .2s ease-in-out;

              img {
                height: 58px;
                position: absolute;
                top: 181px;
                left: 0;
                right: 0;
                margin: 0 auto;
              }

              p {
                width: 252px;
                position: absolute;
                top: 253px;
                left: 0;
                right: 0;
                font: 16px "Helvetica LT Std", Helvetica, sans-serif;
                letter-spacing: 1px;
                text-align: center;
                margin: 0 auto;

                &.button {
                  top: 300px;
                  font: 16px "Bebas Neue", helvetica, sans-serif;
                  letter-spacing: 3px;
                  -webkit-transition: color .2s ease-in-out;
                  -moz-transition: color .2s ease-in-out;
                  -o-transition: color .2s ease-in-out;
                  transition: color .2s ease-in-out;

                  &:hover {
                    color: #cc0019;

                  }
                }
              }
              
              &.trunkit {
                background: #0c0c0c;
                float: left;

                p {
                  color: #fff;
                }

                &:hover {
                  background-color: #282828;
                }
              }

              &.trunksale {
                background: #f2f2f2;
                float: right;

                &:hover {
                  background-color: #dbdbdb;
                }
              }
            }
          }
        }
      }

      .clothingPic {
        width: 100%;
      }

      .featured {
        h2 {
          height: 40px;
          padding: 70px 0 0px;
          font: 30px "Bebas Neue", Helvetica, sans-serif;
          letter-spacing: 3px;
        }
      }

      .section4 {
        .signUp {
          width: 720px;
          margin: 80px auto 0;
          color: #000;
          background: #fff;
          padding: 0;
          height: auto;
        }

        a {
          text-decoration: none;

          .startButton {
            margin: 22px auto 80px;
            width: 200px;
            height: 40px;
            color: #fff;
            background: #cc0019;
            font: 16px/42px "Bebas Neue", helvetica, sans-serif;
            letter-spacing: 3px;
            text-align: center;
            -webkit-transition: background-color .2s ease-in-out;
            -moz-transition: background-color .2s ease-in-out;
            -o-transition: background-color .2s ease-in-out;
            transition: background-color .2s ease-in-out;

            &:hover {
              background: #A60014;
            }
          }
        }
      }

      .foot {
        height: 180px;
        background: #0c0c0c;
        text-align: center;

        ul {
          &.theBiz {
            padding: 60px 0 0;
            height: auto;

            li {
              padding: 0 0 0 3px;
            }

            li:first-child {
              margin: 0 16px 0 0;
            }
            li:last-child {
              margin: 0 0 0 16px;
            }

            li:hover {
              border-bottom: 2px solid #fff;
            }
          }

          &.theSocial {
            padding: 0;

            li a img {
              width: 28px;
            }
          }

          li {
            display: inline;

            a {
              text-decoration: none;
              color: #fff;
              font: 14px "Bebas Neue Regular", Helvetica, sans-serif;
              letter-spacing: 3px;
            }
          }
        }

        p {
          font: 12px "Bebas Neue Book", Helvetica, sans-serif;
          color: #fff;
          letter-spacing: 1px;
          bottom: 2px;
          left: 0;
          right: 0;
          position: absolute;
        }
      }
    }
  }
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  body.public .bodyWrapper > header {
    height: 98px;
    padding: 0 0 0;

    > .content {
      height: 43px;
      display: block;
      width: 100%;
      margin: 0 auto;
    }

    .menuButton {
      display: none;
    }

    a.tagline {
      padding: 12px 0 8px;
      display: block;
      width: 100%;

      img {
        display: block;
      }
    }

    .signInNav {
      margin:  4px 26px 0 0px;
    }

    .right {
      display: inline-block;
    }
  }

  .spaceLine {
    margin: 0 10px 0 6px;
  }

  body.public, body {
    width: 100%;
    margin: 0 auto;

    #content {
      #boutique-search {
        width: 100%;
        margin: 0 auto;

        > form.search {
          width: 100%;
          margin: 35px auto 0;

          h2 {
            font: 32px/38px "Bebas Neue", helvetica, sans-serif;
          }

          input[type=text] {
            display: block;
            width: 280px;
            margin: 0 auto;
            border-radius: 0;
          }

          input[type=submit] {
            display: block;
            width: 230px;
            margin: 20px auto 0;
            float: none;
            border-radius: 0;
          }
        }
      }

      > h3 {
        float: left;
        width: 100%;
        margin: 10px auto;
      }

      .underLine {
        float: left;
        margin: -13px auto 8px;
        width: 100%;

        img {
          margin: 0 auto;
          padding: 0 4px 0 0;
          display: block;
        }
      }
    }
  }
}
footer {
  display: none;
}


.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

.grid {
  position: relative;
  margin: 20px auto 0;
  padding: 1em 0 4em;
  width: 936px;
  list-style: none;
  text-align: center;
  height: 330px;

  *, *:after, *:before { 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 8px;
  max-width: 296px;
  max-height: 296px;
  width: 48%;
  background: #000;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  font: 16px "Bebas Neue", Helvetica, sans-serif;
  letter-spacing: 3px;
}

/*---------------*/
/***** Sadie *****/
/*---------------*/

figure.effect-sadie img {
  max-width: none;
  height: 400px;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0.85;
}

figure.effect-sadie:hover img {
  opacity: 0.85;
  -webkit-transform: scale3d(1.1,1.1,1);
  transform: scale3d(1.1,1.1,1);
}

figure.effect-sadie h2 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #484c61;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
  padding: 60px 0 0 !important;
  color: #fff !important;
  font: 22px "Bebas Neue", Helvetica, sans-serif !important;
  letter-spacing: 4px !important;
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
  position: absolute;
  bottom: 88px;
  left: 0;
  padding: 2em;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0,10px,0);
  transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
  color: #fff;
  -webkit-transform: translate3d(0,-5%,0) translate3d(0,-5px,0);
  transform: translate3d(0,-36%,0) translate3d(0,-30px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

@media screen and (max-width: 50em) {
  .content {
    padding: 0 10px;
    text-align: center;
  }
  .grid figure {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 100%;
  }
}