#login {
  float: left;
  width: 300px;

  h1 {
    font: 100 57px/68px "Helvetica Neue", sans-serif;
    letter-spacing: 4px;
  }

  form {
    > div { padding: 0 0 5px; }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      float: left;
      width: 276px;
      height: 22px;
      margin: 5px 0 0;
      padding: 10px;
      font: 16px/22px "Helvetica LT Std", Arial, sans-serif;
      border: 2px solid #000;
      background: #fff;
    }

    h2.forgot {
      font: 20px "Bebas Neue", sans-serif;
      letter-spacing: 4px;
      margin: 4px 0;
    }

    a, input[type="submit"] {
      display: block;
      float: left;
      margin: 4px 0;
      padding: 0;
      width: 300px;
      height: 42px;
      border: 0;
      font: 16px/42px "Bebas Neue", sans-serif;
      letter-spacing: 6px;
      text-align: center;
      text-decoration: none;
      background: #000;
      color: #fff;

      &.forgot {
        display: inline;
        width: 100%;
        height: auto;
        font: 14px/18px "Helvetica LT Std", sans-serif;
        letter-spacing: 0;
        background: #fff;
        color: #000;
      }

      img {
        padding: 0 5px 0 0;
        vertical-align: middle;
      }
    }

    div.half-width {
      a {
        float: left;
        width: 148px;

        &:first-child { margin-right: 4px; }

        &.active {
          width: 144px;
          height: 38px;
          line-height: 38px;
          border: 2px solid #000;
          color: #000;
          background: #fff;
        }
      }
    }

    .or {
      font: 16px "Bebas Neue", sans-serif;
      letter-spacing: 6px;
      margin: 0 auto;
      width: 100px;
      text-align: center;
    }

    span.cb {
      display: block;
      clear: both;
      width: 100%;
      padding: 20px 0;
      font: 16px "Bebas Neue", sans-serif;
      letter-spacing: 6px;
      text-align: center;
    }

    .facebook {
      margin: 0 0 8px;
      background: #3b5998;
    }

    .twitter {
      margin: 0 0 8px;
      background: #55acee;
    }

    > a {
      background: #747474;

      &.left{ margin-right: 5px; }
    }
  }
}