#stream-subcategories {
  padding: 5px;
  margin: 0 0 10px;
  height: 30px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-align: center;
  font: 16px/36px HelveticaLTStd-LightCond;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline;
      margin: 0;
      padding: 0 10px;
      line-height: 30px;

      a {
        color: #000;
        text-decoration: none;

        &.active,
        &:hover {
          line-height: 34px;
          border-bottom: 1px solid #000;
        }
      }
    }
  }
}

#stream {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;

  > .item {
    float: left;
    width: 296px;
    height: 358px;
    padding: 0;
    min-height: 100px;
    margin: 1px;
    background: #fff;
    text-align: center;
    border: 2px solid #000000;

    > div {
      position: relative;
      height: 100%;

      .img {
        max-width: 300px;
        max-height: 300px;
        overflow: hidden;
      }

      > div.info {
        position: absolute;
        bottom: 0;
        left: 0;
        float: left;
        height: 56px;
        width: 100%;
        border-top: 2px solid #000;
        text-decoration: none;
        color: #fff;

        a {
          text-decoration: none;
          color: #000;

          &.curator {
            overflow: hidden;
            display: table-cell;
            float: left;
            width: 266px;
            font: 18px/21px "Bebas Neue", sans-serif;
            letter-spacing: 2px;
            vertical-align: middle;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #000;
            padding: 6px 15px 0;
          }

          &.supplier {
            display: table-cell;
            float: left;
            clear: left;
            width: 266px;
            padding: 0 15px;
            font: 16px/19px "Helvetica LT Std", sans-serif;
            letter-spacing: 1px;
            color: #000;
            padding-top: 4px;

            &.one-line {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font: 18px/48px "Bebas Neue", sans-serif;
              letter-spacing: 2px;
            }
          }
        }
      }

      > div.details {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        background: rgba(12, 12, 12, 0.7);

        a.favorite {
          position: absolute;
          top: 10px;
          right: 10px;
        }

        p.name {
          position: absolute;
          top: 30px;
          left: 5px;
          width: 290px;
          font-weight: 100;
          letter-spacing: 0px;
          text-align: center;

          a {
            font: 200 15px/22px "Helvetica LT Std", sans-serif;
            letter-spacing: 2px;
            text-decoration: none;
            color: #fff;

            &:first-child {
              display: block;
              overflow: hidden;
              height: 22px;
              text-overflow: ellipsis;
              font: 100 15px/20px "Bebas", sans-serif;
              letter-spacing: 4px;
              white-space: nowrap;
            }
          }
        }

        span.price {
          position: absolute;
          top: 125px;
          left: 0;
          width: 296px;
          margin: 5px 0 0;
          font: 17px "Bebas Neue", sans-serif;
          letter-spacing: 3px;
          color: #fff;

          em {
            font-style: normal;
            padding: 2px 0;
            border-top: 2px solid #fff;
            border-bottom: 2px solid #fff;
          }
        }

        p.sizes {
          position: absolute;
          top: 130px;
          left: 0;
          width: 296px;
          font: 18px "Helvetica LT Std", sans-serif;
          letter-spacing: 1px;
          color: #fff;
        }

        a.buy {
          display: block;
          position: absolute;
          top: 200px;
          left: 68px;
          width: 160px;
          height: 34px;
          font: 16px/27px "Bebas Neue", sans-serif;
          letter-spacing: 6px;
          text-transform: uppercase;
          text-decoration: none;
          text-indent: 2px;
          background: rgba(0, 0, 0, 0.9);
          color: #fff;
          padding-top: 7px;

          &:hover {
            color: #fff;
            background: rgba(0, 0, 0, 1);
          }

          &.edit {
            top: 155px;
          }

          &.unsupport {
            width: 156px;
            height: 30px;
            line-height: 23px;
            border: 2px solid #000;
            background: rgba(255,255,255,.95);
            color: #fff;

              &:hover {
                background: rgba(255,255,255,1);
            }
          }
        }

        div.social {
          position: absolute;
          bottom: 30px;
          left: 75px;
          width: 140px;
          text-align: center;
          color: #fff;
          a {
            float: left;
            width: 33.3%;
            text-align: center;
          }
        }
      }

      &:hover > div.details { display: block; }
    }

    &:nth-child(3n+3) {
      form.item-quantity { left: -302px; }
    }

    form.item-quantity {
      display: none;
      position: absolute;
      z-index: 3;
      top: -2px;
      left: 298px;
      width: 296px;
      height: 348px;
      padding: 5px 2px;
      border: 2px solid #000;
      border-left: 0;
      background: #fff;

      input[type="submit"],
      > a {
        float: left;
        width: 286px;
        height: 40px;
        margin: 0 0 5px 4px;
        padding: 0;
        border: 0;
        font: 16px/41px "Bebas Neue", sans-serif;
        letter-spacing: 6px;
        color: #fff;
        text-align: center;
        text-decoration: none;
        background: #000;
      }
    }
  }

  > .boutique > div {
    .img { max-height: 358px; }

    > div.details {
      display: block;
      height: 358px;

      p.name {
        position: static;
        padding-top: 80px;

        a:first-child {
          font: 16px/21px "Bebas";
          letter-spacing: 6px;
          color: #fff;
        }
      }

      a.follow,
      a.unfollow {
        display: block;
        width: 160px;
        height: 34px;
        margin: 20px auto;
        padding: 0;
        font: 16px/27px "Bebas Neue", sans-serif;
        letter-spacing: 6px;
        text-transform: uppercase;
        text-decoration: none;
        text-indent: 2px;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding-top: 7px;
      }

      a.unfollow {
        width: 156px;
        height: 30px;
        line-height: 23px;
        background: rgba(0,0,0,0.5);
        border: 2px solid #fff;
      }

      p.counts {
        font: 18px/22px "Helvetica LT Std", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #fff;
      }
    }
  }
}
