#stream-subcategories {
  padding: 5px;
  margin: 0 0 10px;
  height: 30px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-align: center;
  font: 16px/36px "Helvetica LT Std", sans-serif;
  letter-spacing: 0px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline;
      margin: 0;
      padding: 0 10px;
      line-height: 30px;

      a {
        color: #9E9E9E;
        text-decoration: none;

        &.active,
        &:hover {
          color: #000;
        }
      }
    }
  }
}

#stream {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;

  .tableHeadings {
    position: relative;
    height: 40px;
    display: none;

    &:first-child {
      display: block;
    }

    h5 {
      display: inline-block;
      position: absolute;
      font: 16px "Bebas Neue", Helvetica, sans-serif;
      top: 16px;
      letter-spacing: 3px;
      margin: 0;

      &:first-child {
        left: 62px;
      }

      &:nth-child(2) {
        left: 197px;
      }

      &:nth-child(3) {
        left: 403px;
      }

      &:nth-child(4) {
        left: 564px;
      }

      &:nth-child(5) {
        left: 660px;
      }
    }
  }

  > .item {
    width: 100%;
    padding: 0;
    margin: 0 0 -2px 0;
    text-align: center;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;

    > div {
      height: 66px;

      .img {
        width: 46px;
        height: 46px;
        overflow: hidden;
        border: 2px solid #000;
        display: inline-block;
        top: 8px;
        position: relative;
        left: 0;
        float: left;

        img {
          position: absolute;
          top: 0;
          left: 0; 
          width: 100%;
        }
      }

      > div.info {
        position: absolute;
        bottom: 0;
        left: 0;
        float: left;
        height: 56px;
        width: 100%;
        border-top: 2px solid #000;
        text-decoration: none;
        color: #000;
      }

      > div.details {
        top: 0;
        left: 0;
        width: 100%;
        color: #000;

        a.favorite {
          position: absolute;
          top: 10px;
          right: 10px;

          img {
            width: 18px;
          }
        }

        p.name {
          position: absolute;
          letter-spacing: 1px;
          text-align: center;
          color: #000;
          margin: 0;
          top: 23px;

          a {
            font: 15px "Helvetica LT Std", sans-serif;
            letter-spacing: 1px;
            text-decoration: none;
            color: #000;
            position: absolute;
            text-align: left;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            &:first-child {
              left: 62px;
              width: 121px;
            }

            &:nth-child(2) {
              left: 197px;
              width: 190px;
            }

            &:nth-child(3) {
              left: 403px;
              width: 145px;
            }
          }
        }


        span.price,
        .strike,
        .noDiscount {
          font: 15px "Helvetica LT Std", Helvetica, sans-serif;
          letter-spacing: 1px;
          color: #000;
          top: 23px;
          position: absolute;
          left: 564px;
        }

        .strike,
        .noDiscount {
          left: 660px;
        }


        p.sizes {
          position: absolute;
          top: 130px;
          left: 0;
          width: 296px;
          font: 18px "Helvetica LT Std", sans-serif;
          letter-spacing: 1px;
          color: #fff;
        }

        a.buy {
          display: inline-block;
          position: absolute;
          right: 0;
          top: 13px;
          width: 160px;
          height: 40px;
          font: 16px/42px "Bebas Neue", sans-serif;
          letter-spacing: 4px;
          text-transform: uppercase;
          text-decoration: none;
          text-indent: 2px;
          background: rgba(0, 0, 0, 0.9);
          color: #fff;
          -webkit-transition: background-color .2s ease-in-out;
          -moz-transition: background-color .2s ease-in-out;
          -o-transition: background-color .2s ease-in-out;
          transition: background-color .2s ease-in-out;

          &:hover {
            background: rgba(255,255,255,0.95);
            color: #000;
            border: 2px solid #000;
            width: 156px;
            height: 36px;
            line-height: 38px;
          }

          &.closeButton {
            background: rgba(255,255,255,0.95);
            color: #000;
            border: 2px solid #000;
            width: 156px;
            height: 36px;
            line-height: 38px;
          }

          &.unsupport {
            width: 156px;
            height: 36px;
            line-height: 38px;
            border: 2px solid #000;
            background: rgba(255,255,255,.95);
            color: #000;

              &:hover {
                background: rgba(255,255,255,1);
            }
          }
        }

        a.support {
          display: none;
        }

        div.social {
          position: absolute;
          bottom: 30px;
          left: 75px;
          width: 140px;
          text-align: center;
          color: #fff;
          a {
            float: left;
            width: 33.3%;
            text-align: center;
          }
        }
      }

      &:hover > div.details { display: block; }
    }

    form.item-quantity {
      display: none;
      z-index: 3;
      top: -2px;
      border-left: 0;
      background: #fff;
      overflow: scroll;

      input[type="submit"],
      > a {
        display: block;
        margin: 0 auto 20px;
        width: 365px;
        height: 40px;
        padding: 0;
        border: 0;
        font: 16px/42px "Bebas Neue", sans-serif;
        letter-spacing: 6px;
        color: #fff;
        text-align: center;
        text-decoration: none;
        background: #000;
      }

      >a.closeButton {
        display: none;
        width: 280px;
        background: #fff;
        border: solid 2px #000;
        color: #000;
        height: 36px;
        font: 16px/38px "Bebas Neue", sans-serif;
      }
    }
  }

  > .boutique > div {
    .img { max-height: 358px; }

    > div.details {
      display: block;
      height: 358px;

      p.name {
        position: static;
        padding-top: 80px;

        a:first-child {
          font: 22px/21px "Bebas Neue", sans-serif;
          letter-spacing: 6px;
          color: #fff;
          padding: 0 0 0 6px;
        }
      }

      a.follow,
      a.unfollow {
        display: block;
        width: 160px;
        height: 34px;
        margin: 20px auto;
        padding: 0;
        font: 16px/27px "Bebas Neue", sans-serif;
        letter-spacing: 6px;
        text-transform: uppercase;
        text-decoration: none;
        text-indent: 2px;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding-top: 7px;

        &:hover {
          background: rgba(0, 0, 0, 1);
        }
      }

      a.unfollow {
        width: 156px;
        height: 30px;
        line-height: 23px;
        border: 2px solid #000;
        background: rgba(255,255,255,.95);
        color: #000;

        &:hover {
          background: rgba(255,255,255,1);
        }
      }

      p.counts {
        font: 18px/22px "Helvetica LT Std", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #fff;
      }
    }
  }
}

// #stream {
//   position: relative;
//   z-index: 2;
//   float: left;
//   width: 100%;

//   > .item {
//     float: left;
//     width: 296px;
//     height: 358px;
//     padding: 0;
//     min-height: 100px;
//     margin: 1px 2px 1px 0;
//     background: #fff;
//     text-align: center;
//     border: 2px solid #000000;

//     > div {
//       position: relative;
//       height: 100%;

//       .img {
//         max-width: 300px;
//         max-height: 300px;
//         overflow: hidden;
//       }

//       .discountAmountBox {
//         position: absolute;
//         top: -2px;
//         right: -2px;
//         width: 50px;
//         height: 50px;
//         border: 2px solid #000;
//         z-index: 3;
//         background: #fff;

//         div {
//           margin: 8px 0 0 4px;
//           font: 16px "Bebas Neue", Helvetica, sans-serif;
//           letter-spacing: 3px;

//           .percentNumber {
//             padding: 0 0 0 4px;
//           }
//         }
//       }

//       > div.info {
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         float: left;
//         height: 56px;
//         width: 100%;
//         border-top: 2px solid #000;
//         text-decoration: none;
//         color: #fff;

//         a {
//           text-decoration: none;
//           color: #000;

//           &.curator {
//             overflow: hidden;
//             display: table-cell;
//             float: left;
//             width: 266px;
//             font: 18px/21px "Bebas Neue", sans-serif;
//             letter-spacing: 2px;
//             vertical-align: middle;
//             text-overflow: ellipsis;
//             white-space: nowrap;
//             color: #000;
//             padding: 6px 15px 0;
//           }

//           &.supplier {
//             display: table-cell;
//             float: left;
//             clear: left;
//             width: 266px;
//             padding: 0 15px;
//             font: 16px/19px "Helvetica LT Std", sans-serif;
//             letter-spacing: 1px;
//             color: #000;
//             padding-top: 4px;

//             &.one-line {
//               overflow: hidden;
//               white-space: nowrap;
//               text-overflow: ellipsis;
//               font: 18px/48px "Bebas Neue", sans-serif;
//               letter-spacing: 2px;
//             }
//           }
//         }
//       }

//       > div.details {
//         display: none;
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 300px;
//         background: rgba(12, 12, 12, 0.7);

//         a.favorite {
//           position: absolute;
//           top: 10px;
//           right: 10px;

//           img {
//             width: 18px;
//           }
//         }

//         p.name {
//           position: relative;
//           letter-spacing: 1px;
//           text-align: center;
//           margin: 80px auto 0;

//           a {
//             font: 16px/22px "Helvetica LT Std", sans-serif;
//             letter-spacing: 1px;
//             text-decoration: none;
//             color: #fff;

//             &:first-child {
//               display: block;
//               overflow: hidden;
//               text-overflow: ellipsis;
//               font: 100 18px/20px "Bebas Neue", sans-serif;
//               letter-spacing: 4px;
//               white-space: nowrap;
//             }
//           }
//         }

//         span.price
//         , .strike {
//           margin: 10px auto 0;
//           font: 17px "Bebas Neue", sans-serif;
//           letter-spacing: 3px;
//           color: #fff;
//           display: block;

//           em {
//             font-style: normal;
//             padding: 2px 0;
//             border-top: 2px solid #fff;
//             border-bottom: 2px solid #fff;
//             display: inline-block;
//           }
//         }

//         .strike {
//           text-decoration: line-through;
//           margin: 5px auto 0;
//           font-style: normal !important;
//         }

//         p.sizes {
//           position: absolute;
//           top: 130px;
//           left: 0;
//           width: 296px;
//           font: 18px "Helvetica LT Std", sans-serif;
//           letter-spacing: 1px;
//           color: #fff;
//         }

//         a.buy {
//           display: block;
//           position: relative;
//           margin: 10px auto;
//           width: 160px;
//           height: 40px;
//           font: 16px/42px "Bebas Neue", sans-serif;
//           letter-spacing: 6px;
//           text-transform: uppercase;
//           text-decoration: none;
//           text-indent: 2px;
//           background: rgba(0, 0, 0, 0.9);
//           color: #fff;
//           -webkit-transition: background-color .2s ease-in-out;
//           -moz-transition: background-color .2s ease-in-out;
//           -o-transition: background-color .2s ease-in-out;
//           transition: background-color .2s ease-in-out;

//           &:hover {
//             background: rgba(255,255,255,0.95);
//             color: #000;
//             border: 2px solid #000;
//             width: 156px;
//             height: 36px;
//             line-height: 38px;
//           }

//           &.unsupport {
//             width: 156px;
//             height: 36px;
//             line-height: 38px;
//             border: 2px solid #000;
//             background: rgba(255,255,255,.95);
//             color: #000;

//               &:hover {
//                 background: rgba(255,255,255,1);
//             }
//           }
//         }

//         a.support {
//           display: none;
//         }

//         div.social {
//           position: absolute;
//           bottom: 30px;
//           left: 75px;
//           width: 140px;
//           text-align: center;
//           color: #fff;
//           a {
//             float: left;
//             width: 33.3%;
//             text-align: center;
//           }
//         }
//       }

//       &:hover > div.details { display: block; }
//     }

//     form.item-quantity {
//       display: none;
//       position: absolute;
//       z-index: 3;
//       top: -2px;
//       width: 296px;
//       height: 358px;
//       border: 2px solid #000;
//       border-left: 0;
//       background: #fff;
//       overflow: scroll;

//       input[type="submit"],
//       > a {
//         display: block;
//         margin: 0 auto 4px;
//         width: 284px;
//         height: 40px;
//         padding: 0;
//         border: 0;
//         font: 16px/41px "Bebas Neue", sans-serif;
//         letter-spacing: 6px;
//         color: #fff;
//         text-align: center;
//         text-decoration: none;
//         background: #000;
//       }

//       >a.closeButton {
//         display: block;
//         width: 280px;
//         background: #fff;
//         border: solid 2px #000;
//         color: #000;
//         height: 36px;
//         font: 16px/38px "Bebas Neue", sans-serif;
//       }
//     }
//   }

//   > .boutique > div {
//     .img { max-height: 358px; }

//     > div.details {
//       display: block;
//       height: 358px;

//       p.name {
//         position: static;
//         padding-top: 80px;

//         a:first-child {
//           font: 22px/21px "Bebas Neue", sans-serif;
//           letter-spacing: 6px;
//           color: #fff;
//           padding: 0 0 0 6px;
//         }
//       }

//       a.follow,
//       a.unfollow {
//         display: block;
//         width: 160px;
//         height: 34px;
//         margin: 20px auto;
//         padding: 0;
//         font: 16px/27px "Bebas Neue", sans-serif;
//         letter-spacing: 6px;
//         text-transform: uppercase;
//         text-decoration: none;
//         text-indent: 2px;
//         background: rgba(0, 0, 0, 0.7);
//         color: #fff;
//         padding-top: 7px;

//         &:hover {
//           background: rgba(0, 0, 0, 1);
//         }
//       }

//       a.unfollow {
//         width: 156px;
//         height: 30px;
//         line-height: 23px;
//         border: 2px solid #000;
//         background: rgba(255,255,255,.95);
//         color: #000;

//         &:hover {
//           background: rgba(255,255,255,1);
//         }
//       }

//       p.counts {
//         font: 18px/22px "Helvetica LT Std", sans-serif;
//         text-transform: uppercase;
//         letter-spacing: 1px;
//         color: #fff;
//       }
//     }
//   }
// }

#stream-watcher {
  float: left;
  width: 100%;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  #stream {
    width: 100%;
    text-align: center;

    > .item {
      float: none;
      display: inline-block;

      > div div.details {
        a.favorite {
          padding: 5px;
        }
      }

      form.item-quantity {
        div.item-quantity .row input {
          border-radius: 0;
        }

        input[type="submit"] {
          border-radius: 0;
        }
      }
    }
  }
}
