#user-settings {
  h2 {
    float: left;
    width: 100%;
    padding: 3px 0;
    font: 14px/17px "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
  }

  form.info {
    > div {
      float: left;
      width: 100%;
      padding: 0 0 10px;

      label, input {
        float: left;
        font: 14px/17px "Lato", sans-serif;
      }

      label {
        width: 175px;
        padding: 0 10px 0 0;
        text-align: right;
      }

      div.spacer {
        float: left;
        padding-left: 185px;
        font: 14px/17px "Lato", sans-serif;
        position: relative;
        top: -130px;
        input { margin: 1px 5px 0 0; }
      }

      img {
        width: 500px;
        position: relative;
        top: -140px;
        margin: 0 0 0 400px;
      }
    }

    button[type="submit"] {
      margin: 0 0 0 185px;
      width: 200px;
      height: 36px;
      font: 16px "Bebas Neue", sans-serif;
      letter-spacing: 4px;
      color: #FFF;
      background: #000;
      border: none;
      position: relative;
      top: -130px;

      &.settingsButton {
        top: 0px;
        width: 160px;
      }
    }
  }
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  #user-settings {
    h2 {
      width: 90%;
      margin: 10px auto;
      float: none;
    }

    form {
      width: 90%;
      margin: 0 auto;
    }

    form.info {
      > div {
        label {
          text-align: left;
        }

        img {
          display: none;
        }

        div.spacer {
          padding: 0;
          top: 0px;
        }
      }

      button[type="submit"] {
        margin: 8px 0;
        top: 0px;
      }
    }
  }
}
