#signup {
  float: left;
  width: 610px;
  margin: 0 142px;

  h1 {
    float: left;
    width: 100%;
    font: 57px HelveticaNeue-UltraLight, sans-serif;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
  }

  form {
    .picture {
      position: relative;
      float: left;
      width: 132px;
      padding: 30px 0 0;

      a.new {
        position: absolute;
        top: 90px;
        left: 10px;
        width: 114px;
        height: 25px;
        font: 16px/25px bebas_neue, sans-serif;
        letter-spacing: 2px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        background: #000;
      }

      input { display: none; }
    }

    > .left, > .right {
      float: left;
      width: 213px;
    }

    > .left { margin: 0 20px; }

    label {
      float: left;
      width: 100%;
      margin: 10px 0 0;
      /* first name: */
      font: 13px/16px bebas_neue, sans-serif;
      letter-spacing: 2px;

      &:first-child { margin: 0; }
    }

    input[type=text], input[type=email], input[type=password] {
      float: left;
      width: 203px;
      height: 32px;
      margin: 0;
      padding: 0 5px;
      border: 0;
      border-bottom: 2px solid #000;
      background: #D8D8D8;
    }

    .submit {
      float: left;
      width: 100%;
      padding: 20px 0 0;
      font: lighter 14px/20px lato, sans-serif;
      text-align: center;

      a {
        text-decoration: none;
        color: #FF303F;
      }

      input {
        width: 190px;
        height: 40px;
        margin: 0;
        padding: 0;
        border: 0;
        font: 16px/40px bebas_neue, sans-serif;
        letter-spacing: 2px;
        color: #fff;
        background: #000;
      }
    }
  }
}
