<h1>Reset Password</h1>
<br>
<p>Hi <%= @resource.email %>,</p>
<p>We’re sorry to hear that you lost your old password. In order to keep your account secure we’d like you to create a new password by clicking the link below. If you have any other questions or concerns don’t hesitate to contact the Trunkit Team. Our email is <%= mail_to("Team@Trunkit.com") %>.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>
<br>
Thanks,<br>
<br>
Sam, Max &amp; The Trunkit Team<br>
<br>
<p>P.S. If you received this email unexpectedly please reach out to <%= mail_to("Team@Trunkit.com") %>. Someone mischievous might be trying to access your account</p>
