<div id="stream">
  <% @items_by_boutique_id.each do |boutique_id, activity_items| %>
    <%= render("stream/boutique", boutique: @boutiques[boutique_id]) %>
    <% activity_items.each do |activity, item| %>
    <%= render("stream/item", activity: activity, item: item) %>
    <% end %>
    <div class="cb"></div>
  <% end %>
</div>

<script>$(function() { SiteBindings.streamItems(); });</script>
