<div id="stream">
  <% @items_by_boutique_id.each do |boutique_id, items| %>
    <%= render("stream/boutique", boutique: @boutiques[boutique_id]) %>
    <% items.each do |item| %>
    <%= render("stream/item", activity: nil, item: item) %>
    <% end %>
    <div class="cb"></div>
  <% end %>
</div>

<script>$(function() { SiteBindings.streamItems(); });</script>
