<div class="discover no-results">
  <div class="notification error">
    <em>Oh No!</em>
    It looks like we can't help you with this search. You can try refining your search or feel free to contact the Trunkit team for assistance, just email <%= mail_to("Team@Trunkit.com") %>.
  </div>

  <%= image_tag("discover/collage.jpg") %>
</div>
