<%= form_tag(discover_path, remote: true, id: "discover-search") do %>
  <div class="search">
    <%= search_field_tag(:q) %>
    <%= image_submit_tag("common/search.png") %>
  </div>
<% end %>

<div id="discover-results">
  <p class="help-text">
    Search for what you're looking for.<br>
    Below are just a few of the things you can search for:
  </p>

  <ul class="help-text">
    <li>Boutique Name</li>
    <li>Location</li>
    <li>Clothing Category</li>
    <li>Designer</li>
    <li>Clothing Size</li>
  </ul>
</div>
