<div id="discover">
	<% 1.upto(8) do %>
		<article class="category">
			<%= link_to(image_tag("//s7d4.scene7.com/is/image/BrooksBrothers/MK00224_NAVY"), '/consumer/discover/category/mens-clothing', class: "photo") %>

			<div class="info">
				<span class="name">Men's Clothing</span>
				<span class="count">
					1,000 stores<br>
					500 sponsored
				</span>
			</div>
		</article>
	<% end %>
</div>
