(function($) {
  $("a.place-order").
    removeClass("fancybox").
    addClass("gray completed").
    removeClass("place-order").
    attr("href", "#").
    text("Purchase Complete");

  var newBtn = $("<a></a>").prop("href", "/").addClass("btn order home").text("Continue Shopping");

  $("a.btn.completed").after(newBtn);

  $.fancybox.close();
})(jQuery);
