<div class="signInNav">
	<%= link_to("Login", new_user_session_path, class: "login 
	fancybox", :"data-fancybox-type" => "ajax") %>
<!-- 	<%= image_tag "header/line.png" , class: "spaceLine" %>
	<%= link_to("Services", "/", class: "login services") %> -->
</div>
