<!DOCTYPE html>
<html>
	<head>
		<title>Trunkit</title>
		<%= stylesheet_link_tag("home", media: "all") %>
		<%= javascript_include_tag("home") %>
		<%= csrf_meta_tags %>

	</head>

	<body>
		<div id="container">
			<header>
				<a href="/" class="tagline">Trunkit</a>
			</header>

			<%= content_tag(:div, yield, id: "content") %>

			<footer>
				<span class="copyright">&copy; 2013 Trunkit LLC. All rights reserved.</span>
			</footer>
		</div>
	</body>
</html>
